/* Style Sheet */
table {
	margin: 30px;
	border-style: solid;
}

.cells {
	height: 100px;
  	width: 100px;
  	padding: 10px;
  	border: 5px;
  	border-style: dotted;
	
}

table tr td {
	height: 50px;
	width: 50px;
	border: dotted;
}

.start {
	border-right: solid blue;
}

.end {
	border-left: solid red;
}